body {
  margin: 0;
}
.search {
  margin: 15px 0;
}
.search .searchtext {
  width: 28%;
  background: #E8EAEB;
  margin: 0 auto;
  padding: 6px;
  border-radius: 25px;
}
.search .searchtext div {
  display: inline;
}
.search .searchtext .searchInput {
  width: 86%;
  border: none;
  outline: none;
  margin: 5px;
  background: none;
}
.search .searchtext .searchicon {
  background: #0008C1;
  padding: 7px;
  border-radius: 50%;
}
.search .searchtext .searchicon i {
  width: 18px;
  height: 18px;
  color: #fff;
}
.container {
  padding: 30px;
  background: #E6E6E6;
}
.container .filter {
  display: flex;
  justify-content: space-between;
}
.container .filter .gender {
  width: 3.8%;
  margin: 5px;
}
.container .filter .gender i {
  font-size: 18px;
  margin: 5px;
}
.container .filter .categories {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.container .filter .categories .category {
  background: #fff;
  width: 10.5%;
  text-align: center;
  padding: 5px;
}
.container .filter .categories .category img {
  background-color: none;
}
.container .filter .categories .category p {
  margin: 0;
}
.container .filter .categories .addCategory {
  background: #fff;
  width: 3%;
}
