body {
    margin: 0;
}
.search {
    margin: 15px 0;
    .searchtext{
        width: 28%;
        background: #E8EAEB;
        margin: 0 auto;
        padding: 6px;
        border-radius: 25px;
        div {
            display: inline;
        }
        .searchInput {
            width: 86%;
            border: none;
            outline: none;
            margin: 5px;
            background: none;
        }
        .searchicon {
            background: #0008C1;
            padding: 7px;
            border-radius: 50%;
            i {
                width: 18px;
                height: 18px;
                color: #fff;
            }
        }
        
    }

}
.container {
    padding: 30px;
    background: #E6E6E6;
    .filter {
        display: flex;
        justify-content: space-between;
        .gender {
            width: 3.8%;
            margin: 5px;
            i {
                font-size: 18px;
                margin: 5px;
            }
        }
        .categories {
            width: 95%;
            display: flex;
            justify-content: space-between;
            .category {
                background: #fff;
                width: 10.5%;
                text-align:center;
                padding: 5px;
                box-shadow: 0px 0px 10px 0px #00000040;
                border-radius: 10px;
                img {
                    background-color: none;
                }
                p {
                    margin: 0;
                }
            }
            .addCategory {
                background: #fff;
                width: 3%;
            }

        }
    }
    .elements{
        .addProduct {
            text-decoration: none;
            font-size: 20px;
            margin: 20px;
        }
        .elementsTop {
            display: flex;
            flex-direction : row;
            margin-bottom: 20px;
            .subCategories {
                width: 71%;
                .subCategorySection {
                    padding: 10px 30px;
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    .subcategory {
                        padding-left: 10px;
                        text-transform: capitalize;
                        width: 20%;
                    }
                }
                .rowSection {
                    height: 4px;
                    background-color: #fff;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    box-shadow: 0px 0px 10px 0px #00000040;

                    .clickedSection {
                        width: 20%;
                    }
                    .first {
                        background-color: #0008C1;
                    }
                }
            }
            .addSubCategory {
                background: #fff;
                margin-top: 25px;
                margin-left: 20px;
                width: 3.6%;
                position: relative;
            }

        }
    }
    .grid-container {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: auto auto auto auto auto auto;
        padding: 10px;
        .grid-item {
            background: #fff;
            padding: 20px;
            font-size: 30px;
            text-align: center;
            
            img {
                width: 80%;
            }
            .itemDetails {
                display: flex;
                justify-content: space-between;
                line-height: 17px;
                span {
                    font-weight: 500;
                    font-size: 14px;
                    color: #2E2E2E;

                }
            }
          }
      }

    .add {
        background-color: #0008C1;
        width: 75%;
        border: none;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 6px;
        color: #fff;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

}

.grey {
    opacity: 0.5;
    background-color: #252525;
}
.dropdown {
    float: right;
    position: relative;
    display: inline-block;

    
}
.dropbtn {
    background-color: #fff;
    margin-top: 10px;
    margin-left: 20px;
    color: #1F1617;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.btncategory {
    margin: 0;
    margin-top: 30%;
}
.dropdown-content {
    padding: 20px;
    display: none;
    position: absolute;
    background-color: #fff;
    margin-top: 5px;
    border-radius: 5px;
    width: 565%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    .top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
        p {
            margin: 0 10% 0 0;
            font-weight: bold;
            font-size: 16px;
        }
    }
    .names {
        border: none;
        outline: none;
        width: 80%;
    }
    hr {
        width: 80%;
        float: left;
    }
}
.widthCategory {
    width: 20%;
    margin-right: 2%;
    margin-top: 25px;
    div {
        justify-content: space-between;
    }
}   
.show {
    display: block;
}
.genders {
    display: flex;
    justify-content: space-between;
}
.female, .male {
    box-shadow: 0px 0px 10px 0px #00000040;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 40%;
    span {
        font-size: 16px;
        margin-left: 10px;
    }
}
.uploadPic {
    width: 100%;
    height: 200px;
    background-color: #d3d3d3;
    font-size: 16px;
    margin-bottom: 20px;
    img {
        width: 30px;
        color: #fff;
        margin-bottom: 20px;
    }
    p {
        color: white;
        
    }
}
.noBackground {
    background-color: #fff;
}
.addproduct {
    width: 100%;
    .detailed{
        display: flex;
        justify-content: space-between;
        .addImaged {
            width: 20%;
            padding: 20px;
        }
        .productDetails {
            width: 80%;
            display: flex;
            justify-content: space-between;
            div {
                width: 50%;
                input {
                    border: none;
                    outline: none;
                }
                hr {
                    width: 80%;
                    float: left;
                }
            }
        }
    }
    .add {
        width: 20%;
        margin-top: 20px;
    }

}
.addProductTop {
    display: flex;
    justify-content: space-between;
    p {
        font-weight: 600;
        line-height: 19.5px;
    }
}