.search {
    .searchtext{
        width: 28%;
        background: #E8EAEB;
        margin: 0 auto;
        padding: 6px;
        border-radius: 25px;
        div {
            display: inline;
        }
        .searchInput {
            width: 86%;
            border: none;
            outline: none;
            margin: 5px;
            background: none;
        }
        .searchicon {
            background: #0008C1;
            padding: 7px;
            border-radius: 50%;
            i {
                width: 18px;
                height: 18px;
                color: #fff;
            }
        }
        
    }

}
.container {
    background: #E6E6E6;
    .gender {
        margin: 5px;
        i {
            font-size: 18px;
            margin: 5px;
        }
    }
}